@tailwind base;
@tailwind components;
@tailwind utilities;

@import url('https://fonts.googleapis.com/css2?family=Karla:ital,wght@0,300;0,400;0,500;0,600;0,700;1,300;1,400&display=swap');

@layer base {
  body {
    @apply font-[Karla];
  }
  li {
    @apply px-4;
    @apply cursor-pointer
  };
}

.navbar-image {
  width: 96px;
  height: 96px;
}

@media (min-width:1024px) {.navbar-image {
  width: 150px;
  height: 150px;
}}
